@model List<JuicyBurger.Web.ViewModels.Restaurants.RestaurantsRequestViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow rounded p-5 mt-5 ">
    <h1 class="text-center main-content-icons-text">Restaurant Partner Requests</h1>
    <hr class="hr w-75">
    @if (Model.Count == 0)
    {
        <h3 class="text-center main-content-icons-text">You don't have requests yet.</h3>
    }
    else
    {
    <div class="products-holder  mx-auto">
        <table class="table table-hover">
            <thead class="thead-dark text-center font-weight-bold">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Issued On</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Location</th>
                    <th scope="col">Phone</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tbody>
                    <tr class="text-center">
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].IssuedOn.ToString("dd/MM/yyyy")</td>
                        <td>@Model[i].FullName</td>
                        <td>@Model[i].Company</td>
                        <td>@Model[i].Location</td>
                        <td>@Model[i].PhoneNumber</td>
                        <td>@Model[i].VatNumber</td>
                        <td>
                            <input type="hidden" value="" name="id" />
                            <a href="/Administration/Restaurants/Contracts/Create/@Model[i].Id" class="btn btn-dark font-weight-bold">Accept</a>
                            <a href="/Administration/Restaurants/Delete/@Model[i].Id" class="btn btn-dark font-weight-bold">Decline</a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    }
</div>